<h1>List of interested applicants</h1>
<% @profiles.each do |applicant| %>
  <p>Photo: <%= applicant.photo_url %></p>
  <p>Name: <%= applicant.name %></p>
  <p>Contact: <%= applicant.explorer.email%></p>
<%end%>
