<div class="jumbotron jumbotron-fluid">
  <div class="container">
  	<div class="row-fluid">
  	<div class="float-left landing-left">
    <h1 class="display-4 landingpage-title">We build a future where the work has a meaning for everyone</h1>

  </div>
  <div class="float-right landing-right">


  	 <img class="future-work" src="<%= image_url 'jumbotron-img.png' %>"/>

  </div>
  <p class="landingpage-paragraph">We make dreams come true for those seeking a career they are passionate about, while giving companies valuable assets who would like to explore themselves in the industry.</p>
</div>
 	<div class="row-fluid">
  	<div class="float-left landing-left">
  		<img class="register" src="<%= image_url 'register-user-img.jpg' %>"/>


  </div>
  <div class="float-right register-right landing-right">
  	<h3 class="join-us">Join our network and find out more</h3>
  	  <p class="account-type-par">Select your account type</p>

  </div>

</div>
 	<div class="row-fluid reg-row">
  	<div class="float-left landing-left">
  		<div class="register-field reg-emp">
  		</div>


  </div>
  <div class="float-right  landing-right">
  	<div class="register-field reg-exp">
  		</div>

  </div>

</div>
</div>