<div class="jumbotron jumbotron-fluid">
		<div class="container-fluid">
				<div class="row-fluid welcome-row">
						<div class="float-left welcome-left">
								<h3 class="purple-text">Welcome <%= @explorers_profile.name %>!</h3>
								<h4 class="blue-text welcome-paragraph">In order to find the perfect role that suits you, we need to hear what your interests and passions are.</h4>
						</div>
						<div class="float-left welcome-right">
								<img class="welcome-personas" src="<%= image_url 'personas.png' %>" />
						</div>
				</div>
				<div class="row-fluid tags-row">
					<h3 class="purple-text text-center">Select your interests: </h3>
						<div class="tags">
							<button class="interests-pills"><span class="hashtag">#</span>Technology</button>
							<button class="interests-pills"><span class="hashtag">#</span>Architecture</button>
							<button class="interests-pills"><span class="hashtag">#</span>Design</button>
							<button class="interests-pills"><span class="hashtag">#</span>Art</button>
							<button class="interests-pills"><span class="hashtag">#</span>Interiors</button>
							<button class="interests-pills"><span class="hashtag">#</span>Startups</button>
							<button class="interests-pills"><span class="hashtag">#</span>Artificial Intelligence</button>
							<button class="interests-pills"><span class="hashtag">#</span>Business</button>
							<button class="interests-pills"><span class="hashtag">#</span>Marketing</button>
							<button class="interests-pills"><span class="hashtag">#</span>Politics</button>
							<button class="interests-pills"><span class="hashtag">#</span>Human Rights</button>
							<button class="interests-pills"><span class="hashtag">#</span>Sustainability</button>
							<button class="interests-pills"><span class="hashtag">#</span>Social</button>
							<button class="interests-pills"><span class="hashtag">#</span>Psychology</button>
							<button class="interests-pills"><span class="hashtag">#</span>Neuroscience</button>
							<button class="interests-pills"><span class="hashtag">#</span>Health</button>
							<button class="interests-pills"><span class="hashtag">#</span>Nutrition</button>
							<button class="interests-pills"><span class="hashtag">#</span>Sports</button>
							<button class="interests-pills"><span class="hashtag">#</span>Science</button>
							<button class="interests-pills"><span class="hashtag">#</span>Theatre</button>
							<button class="interests-pills"><span class="hashtag">#</span>Books</button>
							<button class="interests-pills"><span class="hashtag">#</span>Movies</button>
							<button class="interests-pills"><span class="hashtag">#</span>Gaming</button>
							<button class="interests-pills"><span class="hashtag">#</span>Writing</button>
							<button class="interests-pills"><span class="hashtag">#</span>Drawing</button>
							<button class="interests-pills"><span class="hashtag">#</span>3D</button>

							<button class="interests-pills"><span class="hashtag">#</span>Robotics</button>



						</div>
						<a href="/listings"<%= @explorers_profile.id %>"><button class="reg-btn px-5 purple d-block mx-auto">Next</button></a>
				</div>
		</div>
</div>