<p id="notice"><%= notice %></p>
<h1>Hello <%= @employers_profile.company_name %>!</h1>
<%= link_to 'Edit', edit_employers_profile_path(@employers_profile) %> |
<%= link_to 'Back', employers_profiles_path %>
