/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
font-family: 'Montserrat', sans-serif;
}

.landing-left {
	width: 50%;
}

.landing-right {
	width: 50%;
}
.landingpage-title {
	padding-top: 100px;
	color: #CC46E0;
	font-size: 78px;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 1;
}

.jumbotron {
	height: 100%;
	padding: 0;
	background-color: #ffffff;
	margin-bottom: 60px;

}
.landingpage-paragraph {
	display: block;
	width: 100%;
	color: #007AFF;
	font-size: 26px;
	font-weight: regular !important;
	clear: both;
	line-height: 1;
	padding: 40px 0 20px 0;
}


.join-us{
	display: block;
	width: 300px;
	color: #007AFF;
	font-size: 32px;
	font-weight: 600;

	line-height: 1;
	padding: 40px 0 20px 0;
}


.future-work {
	width: auto;
    height: 400px;
    margin-top: 85px;
    margin-left: 15px;
}

.register-right {
	padding-left: 80px;
	padding-top: 100px;
}
.register {
	width: auto;
    height: 400px;

    margin-left: 15px;
}

.register-field{
	width: 450px;
	height: 250px;
	border-radius: 35px;
	margin-left: 60px;


}
.row-fluid {
	clear: both;
}
.reg-row {
	padding-top: 70px;
	margin-bottom: 80px;
}
.reg-emp {
	border: 1px solid #007AFF;
	margin-bottom: 70px;
}


.reg-exp {
	border: 1px solid #CC46E0;
	margin-bottom: 70px;
}
.reg-emp-title {
	color: #007AFF;
	font-weight: 600;

}
.reg-exp-title {
	color: #CC46E0;
	font-weight: 600;
}

.reg-btn {
	text-transform: uppercase;
	padding: 8px 20px;
}

.blue {
		border: 1px solid #007AFF;
		background-color: #EDF3FF;
		color:#007AFF;
}
.purple {
	border: 1px solid #CC46E0;
	background-color: #FEF2FF;
	color: #CC46E0;
}